body {
  background-color: #E0695A;
  font-family: 'Roboto Slab', serif;
}
.btnCon, .parCon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
button {
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: #EDDE53;
  color: #555;
  font-family: 'Roboto Slab', serif;
}

button:hover {
  color: #EDDE53;
  background-color: #666;
  box-shadow: 5px 5px 5px 0 rgba(247, 147, 87, 1);
}

button:focus {
  outline: 0;
}
.x{
  color: #EDDE53;
  font-size: 2rem;
}
